<!DOCTYPE html>
<a href="/"><img src="images/logo.png" alt="Blind Love logo"></a>
<nav>
    <ul>
        <li><a>People</a></li>
        <li><a>Matches</a></li>
        <li><a>Profile</a></li>
        <li><a href="/chatoverview">Chat</a></li>
    </ul>
</nav>