<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs'); -%>
</head>

<body>
    <header>
        <%- include('partials/header.ejs'); -%>
    </header>
    <main id="home">
        <section>
            <article><p>Jonny Baldwin</p>
            <p>*bericht*</p>
        <p>*tijd*</p></article>
        <article><p>Andere match</p>
            <p>*bericht*</p>
        <p>*tijd*</p></article>
        <article><p>En nog een match</p>
            <p>*bericht*</p>
        <p>*tijd*</p></article>
        </section>
        <section><img src="../static/images/scratch.png" alt="Profielfoto">
        <h2>Jonny Baldwin</h2>
        <h3>25</h3>
        <h4>About me</h4>
        <p>I am Jonny. I am looking for someone to take out into nature and have picknicks with. 
            I like to meet someone who's serious about dating and who doesn't take me lightly since I have had bad experiences.
            If you might be the one I'd like to take you out on a picknick to a place of your choosing.</p>
        <a href="chatwindow"><button>Talk to Jonny</button></a>
    <button>Show Jonny's profile</button></section>
    </main>
    <footer><%- include('partials/footer.ejs'); -%></footer>
</body>

</html>
