<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs'); -%>
</head>

<body>
    <header>
        <%- include('partials/header.ejs'); -%>
    </header>
    <main id="home">
        <h1>Blind Love ❤</h1>
        <form method="post" target="/">
            <input type="radio" value="0" name="wie"> Jonny
            <input type="radio" value="1" name="wie"> Tonya
            <input type="radio" value="2" name="wie"> Codie
            <input type="radio" value="3" name="wie"> Sara
            <button>This is me!</button>
        </form>
        <img src="images/scratch.png" alt="Scratch picture">
    
    </main>
    <footer><%- include('partials/footer.ejs'); -%></footer>
</body>

</html>
