<style>
body {
    font-family: 'Comfortaa';
    margin: 0;
    padding: 0;
}

header {
    background-color: pink;
    padding: .5em;
    display: flex;
    justify-content: space-between;
}

nav{
    align-self: center;
    display: flex;
}

nav li {
    display: inline;
    padding: 1em;
    list-style: none;
}

header img {
    width:6em;
}

#home {
    display: grid;
}

h1 {
    color: #af191a;
    font-size: 6em;
}

#home ul {
    grid-row-start: 2;
}

main li{
    list-style-type: "❤";

}

#home img {
    width: 30em;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    padding: 1em;
}

a{ 
    text-decoration: none;
    color: black;
}

div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article {
    width: 25vw;
    padding: 1em;
}

article img{
    width: 100%;
}

.naastelkaar{
    display: flex;
}

.chatprofile{
    width: 25%;
}

#dechat {
    width: 50%;
}

#useroverview {
    width: 50%;
}

footer {
    background-color: white;
    position: fixed;
    bottom: 100;
}

</style>